<div class="btn-toolbar">
  <%if can? :new, Workshop%>
    <%= link_to t(:new, :default => t("helpers.links.new")),
      new_workshop_path,
      :class => 'btn btn-primary', :title => t(:new) %>
  <%end%>
  <%=  link_to t(:export_this_page_csv), workshops_path(format: "csv"), :class=>"btn" %>
  <%=  link_to t(:export_this_page_xls), workshops_path(format: "xls"), :class=>"btn"%>
  <%=  link_to t(:export_all_csv), workshops_path(format: "csv", :all => true), :class=>"btn"%>
  <%=  link_to t(:export_all_xls), workshops_path(format: "xls", :all => true), :class=>"btn"%>
  <div class="btn-group">
  </div>
</div>

<%content_for :breadcrumb do%>
  <ul class="breadcrumb">
    <li><%=link_to @current_user.branch.name, @current_user.branch%><span class="divider">/</span></li>
    <li class="active"><%=t(:index)%></li>
  </ul>
<%end%>

<div class="well">
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email1</th>
        <th>Phone1</th>
        <th>Description</th>
        <th>Manager</th>
        <th>Branch</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @workshops.each do |workshop| %>
        <tr>
          <%if can? :show, Workshop%>
            <td><%=link_to workshop.id, workshop, :class => 'btn btn-mini', :title => t(:show)%></td>
          <%else%>
            <td><%= label workshop.id, :class => 'btn btn-mini', :title => t(:show)%></td>
          <%end%>
          <td><%= workshop.name %></td>
          <td><%= workshop.email1 %></td>
          <td><%= workshop.phone1 %></td>
          <td><%= workshop.description %></td>
          <td><%#= workshop.user.fullname %></td>
          <td><%= workshop.branch.name %></td>
          <td><%= link_to 'Show', workshop %></td>
          <td><%= link_to 'Edit', edit_workshop_path(workshop) %></td>
          <td><%= link_to 'Destroy', workshop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td>         
            <ul class="nav nav-pills">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" title='<%=t(:actions)%>'><i class="icon-cog"></i>&nbsp;<i class="icon-caret-down"></i></a>
                <ul class="dropdown-menu">
                  <%if can? :show, Workshop%>
                    <li>
                      <%= link_to workshop do %>
                        <i class="icon-eye-open"></i>&nbsp;&nbsp;<%=t(:show, :default => t("helpers.links.show"))%>
                      <%end%>
                    </li>
                  <%end%>
                  <%if can? :edit, Workshop%>
                    <li>
                      <%= link_to edit_bill_path(workshop) do %>
                        <i class="icon-pencil"></i>&nbsp;&nbsp;<%=t(:edit, :default => t("helpers.links.edit"))%>
                      <%end%>
                    </li>
                  <%end%>
                  <%if can? :destroy, Workshop%>
                    <li>
                      <%= link_to  workshop, :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } do %>
                        <i class="icon-trash"></i>&nbsp;&nbsp;<%=t(:destroy, :default => t("helpers.links.destroy"))%>
                      <%end%>
                    </li>
                  <%end%>
                </ul>
              </li>
            </ul>
          </td>
        </tr>
      <% end %>
      </tbody>
  </table>
</div>
<br />


<div class="page_info">
  <%= page_entries_info @workshops %>
  <%= will_paginate @workshops, :renderer => BootstrapPagination::Rails %>
</div>
