<div class="btn-toolbar">
  <%if can? :new, Comment%>
    <%= link_to t(:new, :default => "Listing cellphones"),
      new_comment_path,
      :class => 'btn btn-primary', :title => t(:new) %>
  <%end%>
  <%=  link_to t(:export_this_page_csv), comments_path(format: "csv"), :class=>"btn" %>
  <%=  link_to t(:export_this_page_xls), comments_path(format: "xls"), :class=>"btn"%>
  <%=  link_to t(:export_all_csv), comments_path(format: "csv", :all => true), :class=>"btn"%>
  <%=  link_to t(:export_all_xls), comments_path(format: "xls", :all => true), :class=>"btn"%>
  <div class="btn-group">
  </div>
</div>

<%content_for :breadcrumb do%>
  <ul class="breadcrumb">
    <li><%=link_to @current_user.branch.name, @current_user.branch%><span class="divider">/</span></li>
    <li class="active"><%=t(:index)%></li>
  </ul>
<%end%>

<div class="well">
  <table class="table">
    <thead>
      <tr>
        <th><%=t'.id' %></th>
        <th><%=t'.fullname' %></th>
        <th><%=t'.email' %></th>
        <th><%=t'.comment' %></th>
      </tr>

      <% @comments.each do |comment| %>
        <tr>
          <%if can? :show, Comment%>
            <td><%=link_to comment.id, comment, :class => 'btn btn-mini', :title => t(:show)%></td>
          <%else%>
            <td><%= label comment.id, :class => 'btn btn-mini', :title => t(:show)%></td>
          <%end%>
          <td><%= comment.fullname %></td>
          <td><%= comment.email %></td>
          <td><%= comment.comment %></td>
          <td>         
            <ul class="nav nav-pills">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" title='<%=t(:actions)%>'><i class="icon-cog"></i>&nbsp;<i class="icon-caret-down"></i></a>
                <ul class="dropdown-menu">
                  <%if can? :show, Comment%>
                    <li>
                      <%= link_to comment do %>
                        <i class="icon-eye-open"></i>&nbsp;&nbsp;<%=t(:show, :default => t("helpers.links.show"))%>
                      <%end%>
                    </li>
                  <%end%>
                  <%if can? :edit, Comment%>
                    <li>
                      <%= link_to edit_comment_path(comment) do %>
                        <i class="icon-pencil"></i>&nbsp;&nbsp;<%=t(:edit, :default => t("helpers.links.edit"))%>
                      <%end%>
                    </li>
                  <%end%>
                  <%if can? :destroy, Comment%>
                    <li>
                      <%= link_to  Comment, :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } do %>
                        <i class="icon-trash"></i>&nbsp;&nbsp;<%=t(:destroy, :default => t("helpers.links.destroy"))%>
                      <%end%>
                    </li>
                  <%end%>
                </ul>
              </li>
            </ul>
          </td>
        </tr>
      <% end %>
      </tbody>
  </table>
</div>
<br />


<div class="page_info">
  <%= page_entries_info @comments %>
  <%= will_paginate @comments, :renderer => BootstrapPagination::Rails %>
</div>
