<%= form_for(@computer) do |f| %>
  <% if @computer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@computer.errors.count, "error") %> prohibited this computer from being saved:</h2>

      <ul>
        <% @computer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :brand %><br />
    <%= f.text_field :brand %>
  </div>
  <div class="field">
    <%= f.label :model %><br />
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :ope_system %><br />
    <%= f.text_field :ope_system %>
  </div>
  <div class="field">
    <%= f.label :serial_number %><br />
    <%= f.text_field :serial_number %>
  </div>
  <div class="field">
    <%= f.label :computer_type %><br />
    <%= f.text_field :computer_type %>
  </div>
  <div class="field">
    <%= f.label :hard_drive %><br />
    <%= f.text_field :hard_drive %>
  </div>
  <div class="field">
    <%= f.label :units %><br />
    <%= f.text_field :units %>
  </div>
  <div class="field">
    <%= f.label :memory %><br />
    <%= f.text_field :memory %>
  </div>
  <div class="field">
    <%= f.label :processor %><br />
    <%= f.text_field :proccessor %>
  </div>
  <div class="field">
    <%= f.label :color %><br />
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :charger %><br />
    <%= f.text_field :charger %>
  </div>
  <div class="field">
    <%= f.label :usb %><br />
    <%= f.text_field :usb %>
  </div>
  <div class="field">
    <%= f.label :monitor %><br />
    <%= f.text_field :monitor %>
  </div>
  <div class="field">
    <%= f.label :keyboard %><br />
    <%= f.text_field :keyboard %>
  </div>
  <div class="field">
    <%= f.label :mouse %><br />
    <%= f.text_field :mouse %>
  </div>
  <div class="field">
    <%= f.label :client %><br />
    <%= f.text_field :client_id %>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%if can? :index, Computer%>
      <%= link_to t(:back, :default => t("helpers.links.back")),
        computers_path, :class => 'btn'  %>
    <%end%>
  </div>
<% end %>
