<div class="btn-toolbar">
  <%if can? :new, Computer%>
    <%= link_to t(:new, :default => "Listing computers"),
      new_computer_path,
      :class => 'btn btn-primary', :title => t(:new) %>
  <%end%>
  <%=  link_to t(:export_this_page_csv), computers_path(format: "csv"), :class=>"btn" %>
  <%=  link_to t(:export_this_page_xls), computers_path(format: "xls"), :class=>"btn"%>
  <%=  link_to t(:export_all_csv), computers_path(format: "csv", :all => true), :class=>"btn"%>
  <%=  link_to t(:export_all_xls), computers_path(format: "xls", :all => true), :class=>"btn"%>
  <div class="btn-group">
  </div>
</div>

<%content_for :breadcrumb do%>
  <ul class="breadcrumb">
    <li><%=link_to @current_user.branch.name, @current_user.branch%><span class="divider">/</span></li>
    <li class="active"><%=t(:index)%></li>
  </ul>
<%end%>

<div class="well">
  <table class="table">
    <thead>
      <tr>
        <th><%= t'.id'%> </th>
        <th><%= t'.brand'%> </th>
        <th><%= t'.model'%> </th>
        <th><%= t'.serial_number'%> </th>
        <th><%= t'.computer_type'%> </th>
        <th><%= t'.hard_drive'%> </th>
        <th><%= t'.units'%> </th>
        <th><%= t'.memory'%> </th>
        <th><%= t'.color'%> </th>
        <th><%= t'.charger'%> </th>
        <th><%= t'.usb'%> </th>
        <th><%= t'.monitor'%> </th>
        <th><%= t'.keyboard'%> </th>
        <th><%= t'.mouse'%> </th>
        <th><%= t'.client_id'%> </th>
      </tr>

      <% @computers.each do |computer| %>
        <tr>
          <%if can? :show, Computer%>
            <td><%=link_to computer.id, computer, :class => 'btn btn-mini', :title => t(:show)%></td>
          <%else%>
            <td><%= label computer.id, :class => 'btn btn-mini', :title => t(:show)%></td>
          <%end%>
          <td><%= computer.brand %></td>
          <td><%= computer.model %></td>
          <td><%= computer.serial_number %></td>
          <td><%= computer.computer_type %></td>
          <td><%= computer.hard_drive %></td>
          <td><%= computer.units %></td>
          <td><%= computer.memory %></td>
          <td><%= computer.color %></td>
          <td><%= computer.charger %></td>
          <td><%= computer.usb %></td>
          <td><%= computer.monitor %></td>
          <td><%= computer.keyboard %></td>
          <td><%= computer.mouse %></td>
          <td><%= computer.client.fullname %></td>
          <td>         
            <ul class="nav nav-pills">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" title='<%=t(:actions)%>'><i class="icon-cog"></i>&nbsp;<i class="icon-caret-down"></i></a>
                <ul class="dropdown-menu">
                  <%if can? :show, Computer%>
                    <li>
                      <%= link_to computer do %>
                        <i class="icon-eye-open"></i>&nbsp;&nbsp;<%=t(:show, :default => t("helpers.links.show"))%>
                      <%end%>
                    </li>
                  <%end%>
                  <%if can? :edit, Computer%>
                    <li>
                      <%= link_to edit_computer_path(computer) do %>
                        <i class="icon-pencil"></i>&nbsp;&nbsp;<%=t(:edit, :default => t("helpers.links.edit"))%>
                      <%end%>
                    </li>
                  <%end%>
                  <%if can? :destroy, Computer%>
                    <li>
                      <%= link_to  computer, :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } do %>
                        <i class="icon-trash"></i>&nbsp;&nbsp;<%=t(:destroy, :default => t("helpers.links.destroy"))%>
                      <%end%>
                    </li>
                  <%end%>
                </ul>
              </li>
            </ul>
          </td>
        </tr>
      <% end %>
      </tbody>
  </table>
</div>
<br />

<div class="page_info">
  <%= page_entries_info @computers %>
  <%= will_paginate @computers, :renderer => BootstrapPagination::Rails %>
</div>
