<p id="notice"><%= notice %></p>

<p>
  <b>Brand:</b>
  <%= @computer.brand %>
</p>

<p>
  <b>Model:</b>
  <%= @computer.model %>
</p>

<p>
  <b>Ope System:</b>
  <%= @computer.ope_system %>
</p>


<p>
  <b>Serial number:</b>
  <%= @computer.serial_number %>
</p>

<p>
  <b>Type:</b>
  <%= @computer.computer_type %>
</p>

<p>
  <b>Hard drive:</b>
  <%= @computer.hard_drive %>
</p>

<p>
  <b>Units:</b>
  <%= @computer.units %>
</p>

<p>
  <b>Memory:</b>
  <%= @computer.memory %>
</p>

<p>
  <b>Processor:</b>
  <%= @computer.proccessor %>
</p>


<p>
  <b>Color:</b>
  <%= @computer.color %>
</p>

<p>
  <b>Charger:</b>
  <%= @computer.charger %>
</p>

<p>
  <b>Usb:</b>
  <%= @computer.usb %>
</p>

<p>
  <b>Monitor:</b>
  <%= @computer.monitor %>
</p>

<p>
  <b>Keyboard:</b>
  <%= @computer.keyboard %>
</p>

<p>
  <b>Mouse:</b>
  <%= @computer.mouse %>
</p>

<p>
  <b>Client:</b>
  <%= @computer.client.fullname %>
</p>


<%= link_to 'Edit', edit_computer_path(@computer) %> |
<%= link_to 'Back', computers_path %>
