<div id="body">
  <div class="row-fluid">
    <div class="dialog">
      <div class="block">
        <a href="#<%=request.env['ORIGINAL_FULLPATH'].sub(/^(.*\/).*/, '\1/').sub('/password//', '').sub('/', '')%>" class="block-heading" data-toggle="collapse"><%=t(:signin)%><span class="label label-notice"><%=t(:help)%></span></a>
        <div class="block-body">
          <h2><%= t('devise.passwords.change_your') %></h2>

          <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
            <%= devise_error_messages! %>
            <%= f.hidden_field :reset_password_token %>

            <div>
              <%= f.label :password, t('devise.passwords.new') %>
              <%= f.password_field :password, :placeholder => t(:password), :class => "password_field", :autocomplete=>"off" %><span class="required">*</span>
            </div>

            <div>
              <%= f.label :password_confirmation, t('devise.passwords.confirm') %>
              <%= f.password_field :password_confirmation, :placeholder => t(:password_confirmation), :class => "password_field", :autocomplete=>"off" %><span class="required">*</span>
            </div>

            <div>
              <%= f.submit t('devise.passwords.change_my'), :class => "btn btn-primary" %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
