<div class="btn-toolbar">
  <%if can? :new, Client%>
    <%= link_to t(:new, :default => t("helpers.links.new")),
      new_client_path,
      :class => 'btn btn-primary', :title => t(:new) %>
  <%end%>
  <%=  link_to t(:export_this_page_csv), clients_path(format: "csv"), :class=>"btn" %>
  <%=  link_to t(:export_this_page_xls), clients_path(format: "xls"), :class=>"btn"%>
  <%=  link_to t(:export_all_csv), clients_path(format: "csv", :all => true), :class=>"btn"%>
  <%=  link_to t(:export_all_xls), clients_path(format: "xls", :all => true), :class=>"btn"%>
  <div class="btn-group">
  </div>
</div>

<%content_for :breadcrumb do%>
  <ul class="breadcrumb">
    <li><%=link_to @current_user.branch.name, @current_user.branch%><span class="divider">/</span></li>
    <li class="active"><%=t(:index)%></li>
  </ul>
<%end%>

<div class="well">
  <table class="table">
    <thead>
      <tr>
        <th> <%= t'.id'  %></th>
        <th> <%= t'.first_name'  %></th>
        <th><%= t'.last_name'  %></th>
        <th><%= t'.phone1' %></th>
        <th><%= t'.address1'  %></th>
        <th><%= t'.address2'  %></th>
        <th><%= t'.city'  %></th>
        <th><%= t'.state'  %></th>
        <th><%= t'.zip'  %></th>
      </tr>

      <% @clients.each do |client| %>
        <tr>
          <%if can? :show, Client%>
            <td><%=link_to client.id, client, :class => 'btn btn-mini', :title => t(:show)%></td>
          <%else%>
            <td><%= label client.id, :class => 'btn btn-mini', :title => t(:show)%></td>
          <%end%>
          <td><%= client.first_name %></td>
          <td><%= client.last_name %></td>
          <td><%= client.phone1 %></td>
          <td><%= client.address1 %></td>
          <td><%= client.address2 %></td>
          <td><%= client.city %></td>
          <td><%= client.state %></td>
          <td><%= client.zip %></td>
          <td>         
            <ul class="nav nav-pills">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" title='<%=t(:actions)%>'><i class="icon-cog"></i>&nbsp;<i class="icon-caret-down"></i></a>
                <ul class="dropdown-menu">
                  <%if can? :show, Client%>
                    <li>
                      <%= link_to client do %>
                        <i class="icon-eye-open"></i>&nbsp;&nbsp;<%=t(:show, :default => t("helpers.links.show"))%>
                      <%end%>
                    </li>
                  <%end%>
                  <%if can? :edit, Client%>
                    <li>
                      <%= link_to edit_client_path(client) do %>
                        <i class="icon-pencil"></i>&nbsp;&nbsp;<%=t(:edit, :default => t("helpers.links.edit"))%>
                      <%end%>
                    </li>
                  <%end%>
                  <%if can? :destroy, Client%>
                    <li>
                      <%= link_to  client, :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } do %>
                        <i class="icon-trash"></i>&nbsp;&nbsp;<%=t(:destroy, :default => t("helpers.links.destroy"))%>
                      <%end%>
                    </li>
                  <%end%>
                </ul>
              </li>
            </ul>
          </td>
        </tr>
      <% end %>
      </tbody>
  </table>
</div>
<br />


<div class="page_info">
  <%= page_entries_info @clientes %>
  <%= will_paginate @clientes, :renderer => BootstrapPagination::Rails %>
</div>
