<%content_for :breadcrumb do%>
  <ul class="breadcrumb">
    <%if can? :index, Client%>
      <li><%=link_to t(:index), clients_path%><span class="divider">/</span></li>
    <%end%>
    <li class="active"><%=@client.fullname%></li>
  </ul>
<%end%>

<div class="row-fluid">
  <div class="block span6" >
    <a href="#comments_info" class="block-heading" data-toggle="collapse"><%= @client.fullname %></a>
    <div id="comments_info" class="block-body collapse in show-details">
      <br />
      <p>
        <b><%= t'.email' %>:</b>
        <%=  mail_to @client.email, @client.email%>
      </p>

      <p>
        <b><%= t'.phone1'  %>:</b>
        <%= @client.phone1 %>
      </p>

      <p>
        <b> <%=t'.phone2' %>:</b>
        <%= @client.phone2 %>
      </p>

      <p>
        <b><%=t'.address1'%>:</b>
        <%= @client.address1 %>
      </p>

      <p>
        <b><%=t'.address2'%>:</b>
        <%= @client.address2 %>
      </p>

      <p>
        <b><%=t'.city'%>:</b>
        <%= @client.city %>
      </p>

      <p>
        <b><%=t'.state'%>:</b>
        <%= @client.state %>
      </p>

      <p>
        <b><%= t'.zip' %>:</b>
        <%= @client.zip %>
      </p>

      <p>
        <b><%=t'.country'%>:</b>
        <%= @client.country %>
      </p>
    </div>
  </div>
</div>


<div class="form-actions">
   <%if can? :index, Client%>
    <%= link_to t(:back, :default => t("helpers.links.back")),
      clients_path, :class => 'btn'  %>
  <%end%>
  
  <%if can? :edit, Client%>
    <%= link_to t(:edit, :default => t("helpers.links.edit")),
      edit_client_path(@client), :class => 'btn' %>
  <%end%>
  
  <%if can? :destroy, Client%>
    <%= link_to t(:destroy, :default => t("helpers.links.destroy")),
      cellphone_path(@client),
      :method => 'delete',
      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
      :class => 'btn btn-danger' %>
  <%end%>
  
  <%if can? :new, Client%>
    <%= link_to t(:new, :default => t("helpers.links.new")),
      new_client_path,
      :class => 'btn btn-primary', :title => t(:new) %>
  <%end%>
</div>