<%= form_for(@bill) do |f| %>
  <div class="row-fluid">
    <div class="block span6">
      <a href="#general-info" class="block-heading" data-toggle="collapse"><%=t(:general_info)%></a>
      <div id="general-info" class="block-body collapse in">
        <% if @bill.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

            <ul>
              <% @bill.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <br />
        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :rfc %><br />
          <%= f.text_field :rfc %>
        </div>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.text_field :email %>
        </div>
        <div class="field">
          <%= f.label :phone1 %><br />
          <%= f.text_field :phone1 %>
        </div>
        <div class="field">
          <%= f.label :phone2 %><br />
          <%= f.text_field :phone2 %>
        </div>
        <div class="field">
          <%= f.label :fax %><br />
          <%= f.text_field :fax %>
        </div>
        <div class="field">
          <%= f.hidden_field :client_id %>
        </div>
      </div>
    </div>
    <div class="block span6">
      <a href="#address-info" class="block-heading" data-toggle="collapse"><%=t(:address_info)%></a>
      <div id="address-info" class="block-body collapse in">
        <br />
        <div class="field">
          <%= f.label :address1 %><br />
          <%= f.text_field :address1 %>
        </div>
        <div class="field">
          <%= f.label :address2 %><br />
          <%= f.text_field :address2 %>
        </div>
        <div class="field">
          <%= f.label :zip %><br />
          <%= f.number_field :zip %>
        </div>
        <div class="field">
          <%= f.label :city %><br />
          <%= f.text_field :city %>
        </div>
        <div class="field">
          <%= f.label :state %><br />
          <%= f.text_field :state %>
        </div>
        <div class="field">
          <%= f.label :country %><br />
          <%= f.text_field :country %>
        </div>
      </div>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%if can? :index, Bill%>
      <%= link_to t(:back, :default => t("helpers.links.back")),
        bills_path, :class => 'btn'  %>
    <%end%>
  </div>
<% end %>
