<div class="field">
  <%= f.label :model%><br />
  <%= f.autocomplete_field :model, autocomplete_cellphone_model_orders_path, :update_elements => {:brand => '#order_cellphones_attributes_0_brand', :color => '#order_cellphones_attributes_0_color', :ope_system => '#order_cellphones_attributes_0_ope_system'} %>
</div>
<div class="field">
  <%=f.label :brand%><br />
  <%=f.text_field :brand%>
</div>
<div class="field">
  <%= f.label :color%><br />
  <%=f.text_field :color%>
</div>
<div class="field">
  <%= f.label :ope_system%><br />
  <%=f.text_field :ope_system%>
</div>
<div class="field">
  <%= f.label :imei%><br />
  <%=f.text_field :imei%>
</div>
<div class="field">
  <%=f.hidden_field :branch_id, :value => current_user.branch_id%>
</div>
<div class="field">
  <%=f.hidden_field :client_id%>
</div>