<%= nested_form_for(@order, :onsubmit=>"doSomething();") do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% @order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <script>
  <%unless @order.client_id.blank?%>
      display_user_info('<%=@order.client_id%>');
  <%end%>
    var client_id;
    function display_user_info(id) {

      var host = '<%=@host%>';
      client_id = id;
      var client_url = host + '/clients/' + client_id + '.json';
      function jsonpCallbackClient(client) {
        $("#client_info").fadeIn("slow");
        $("#client_id").html(client.id);
        $("#fullname").html(client.first_name + " " + client.last_name);
        $("#phone1").html(client.phone1);
        $("#phone2").html(client.phone2);
        $("#email").html(client.email);
        $("#address").html(client.address1 + " " + client.address2 + ", " + client.city + " " + client.state + ", " + client.zip + ", " + client.country);
      }
      $.ajax({
        url: client_url,
        dataType: 'jsonp',
        error: function(xhr, status, error) {
          alert(error);
        },
        success: jsonpCallbackClient
      });
      var bill_url = host + '/bills/' + client_id + '.json?autocomplete=true';
      function jsonpCallbackClientBill(bill) {
        $("#name").html(bill.name);
        $("#rfc").html(bill.rfc);
        $("#bill_phone1").html(bill.phone1);
        $("#bill_phone2").html(bill.phone2);
        $("#fax").html(bill.fax);
        $("#bill_email").html(bill.email);
        $("#bill_address").html(bill.address1 + " " + bill.address2 + ", " + bill.city + " " + bill.state + ", " + bill.zip + ", " + bill.country);
        $("#order_bill_id").val(bill.id);
        $(".search_client_id").val(client_id);
      }
      $.ajax({
        url: bill_url,
        dataType: 'jsonp',
        error: function(xhr, status, error) {
          alert(error);
        },
        success: jsonpCallbackClientBill
      });
    }

    function setDeviceClientId() {
      $("#order_cellphones_attributes_0_client_id").val(client_id);
      $("#order_cellphones_attributes_1_client_id").val(client_id);
      $("#order_computers_attributes_0_client_id").val(client_id);
      $("#order_computers_attributes_1_client_id").val(client_id);
    }


    function getUserId() {
      client_id = $(".search_client_id").val();
      if (!client_id) {
        $("#order_bill_id").val(null);
        $("#order_client_id").val(null);
        $("#client_info").hide();
      }
    }

    function select_client() {
      $("#search_client_div").fadeOut("slow");
      $("#select_client_div").fadeIn("slow");
      $(".search_client_id").val(null);
      $("#order_bill_id").val(null);
      $("#order_client_id").val(null);
      $("#order_client_id.ui-autocomplete-input").val(null);
      $("#client_info").hide();
    }

    function search_client() {
      $("#select_client_div").fadeOut("slow");
      $("#search_client_div").fadeIn("slow");
      $(".search_client_id").val(null);
      $("#order_bill_id").val(null);
      $("#order_client_id").val(null);
      $("input#order_client_id").val(null);
      $("#order_client_id.ui-autocomplete-input").val(null);
      $("#client_info").hide();
    }

  <%if @order.product_type.blank?%>
      $(function() {
        $('#select-type').change(function(e) {
          if ($(this).val() === "Cellphone") {
            $("#partial_form").html('<%@order.cellphones.build %><%= escape_javascript(f.fields_for :cellphones ) %>');
          } else if ($(this).val() === "Computer") {
            $("#partial_form").html('<%@order.computers.build %><%= escape_javascript( f.fields_for :computers ) %>');
          }
        });
      });
  <%end%>

    /* var part_count = 1;
     function changePartId() {
     $('#order_parts_attributes_0_name').attr('id', "order_parts_attributes_" + part_count + "_name");
     $("#order_parts_attributes_0_name").val(null);
     $('#order_parts_attributes_0_cost').attr('id', "order_parts_attributes_" + part_count + "_cost");
     $("#order_parts_attributes_0_cost").val(null);
     $('#order_parts_attributes_0_serial_number').attr('id', "order_parts_attributes_" + part_count + "_serial_number");
     $("#order_parts_attributes_0_serial_number").val(null);
     $('#order_parts_attributes_0_description').attr('id', "order_parts_attributes_" + part_count + "_description");
     $("#order_parts_attributes_0_description").val(null);
     part_count = part_count + 1;
     }
     */
    var client_need_count = 1;
    function changeClientNeedId() {
      order_client_needs_attributes_0__destroy;
      $('#order_client_needs_attributes_0_name').attr('data-update-elements', '{"cost":"#order_client_needs_attributes_' + client_need_count + '_cost", "description":"#order_client_needs_attributes_' + client_need_count + '_description"}');
      $('#order_client_needs_attributes_0_name').attr('name', "order[client_needs_attributes][" + client_need_count + "][name]");
      $('#order_client_needs_attributes_0_name').attr('id', "order_client_needs_attributes_" + client_need_count + "_name");
      $('#label_order_client_needs_attributes_0_name').attr('id', "label_order_client_needs_attributes_" + client_need_count + "_name");
      $("#order_client_needs_attributes_0_name").val(null);
      $('#order_client_needs_attributes_0_cost').attr('name', "order[client_needs_attributes][" + client_need_count + "][cost]");
      $('#order_client_needs_attributes_0_cost').attr('id', "order_client_needs_attributes_" + client_need_count + "_cost");
      $('#label_order_client_needs_attributes_0_cost').attr('id', "label_order_client_needs_attributes_" + client_need_count + "_cost");
      $("#order_client_needs_attributes_0_cost").val(null);
      $('#order_client_needs_attributes_0_branch_id').attr('name', "order[client_needs_attributes][" + client_need_count + "][branch_id]");
      $('#order_client_needs_attributes_0_branch_id').attr('id', "order_client_needs_attributes_" + client_need_count + "_branch_id");
      $('#order_client_needs_attributes_0_description').attr('name', "order[client_needs_attributes][" + client_need_count + "][description]");
      $('#order_client_needs_attributes_0_description').attr('id', "order_client_needs_attributes_" + client_need_count + "_description");
      $('#label_order_client_needs_attributes_0_description').attr('id', "label_order_client_needs_attributes_" + client_need_count + "_description");
      $("#order_client_needs_attributes_0_description").val(null);
      $('#order_client_needs_attributes_0_destroy').attr('name', "order[client_needs_attributes][" + client_need_count + "][_destroy]");
      $('#order_client_needs_attributes_0_destroy').attr('id', "order_client_needs_attributes_" + client_need_count + "_destroy");
      client_need_count = client_need_count + 1;
    }

    $(function() {
      $(".date").datepicker({
        numberOfMonths: 1,
        dateFormat: 'dd/mm/yy',
        minDate: new Date(),
        onSelect: function() {
          $('#order_delivery_date').datepicker('option', {
            minDate: $(this).datepicker('getDate')
          });
        }
      });
          /*$.get(
               "/orders/autocomplete_client_need_name.json",
               function(data) {
                   $(".autocomplete").autocomplete({
                       source: data,
                       minLength: 2,
                       autoFocus: true
                   });
               }
               );
       $(document).on('nested:fieldAdded', function(e) {
       var input;
       field = e.field;
       input = field.find('.autocomplete');
           $.get(
               "/orders/autocomplete_client_need_name.json",
               function(data) {
                   input.autocomplete({
                       source: data,
                       minLength: 2,
                       autoFocus: true
                   });
               }
               );
       });*/
    });

    CKEDITOR.config.toolbar = [
      ['Styles', 'Format', 'Font', 'FontSize'],
      '/',
      ['Bold', 'Italic', 'Underline', 'StrikeThrough', '-', 'Undo', 'Redo', '-', 'Cut', 'Copy', 'Paste', 'Find', 'Replace', 'Preview', '-', 'Outdent', 'Indent', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'Print', 'Image', 'Smiley']
    ];
    CKEDITOR.config.language = 'es';

    $(function() {
      $("#new_client").click(function open_win() {
        myWindow = window.open($("http:").val(), $("#new_client_path").val(), 'height=500, width=600, left=100, top=100, screenX=100, screenY=100, toolbar=no, scrollbars=yes, location=no, resizable=yes, directories=no, copyhistory=no, menubar=no');
        myWindow.focus();
      });
    });
  </script>
  <div class="row-fluid">
    <div class="block span6">
      <a href="#product_no" class="block-heading" data-toggle="collapse"><%= t'.identifier' %></a>
      <div id="product_no" class="block-body collapse in">
        <br>
        <div class="field">        
          <%= f.text_field :identifier %>
        </div>
      </div>
    </div>
    <div class="block span6">
      <a href="#delivery_date" class="block-heading" data-toggle="collapse"><%= t(:delivery_date) %></a>
      <div id="delivery_date" class="block-body collapse in">
        <div class="input-append date datepicker" data-date="07-07-2013" data-date-format="dd-mm-yyyy" style="margin-top: 8px;">
          <input value= "<%= @order.delivery_date %>" size="16" type="text" id="order_delivery_date" name="order[delivery_date]" placeholder="Introdusca la Fecha de Entrega" readonly><span class="add-on"><i class="icon-th"></i></span>
        </div>
      </div>
    </div>
  </div>


  <div class="row-fluid">
    <div class="block span6">
      <a href="#user_info" class="block-heading" data-toggle="collapse"><%= t(:client)%></a>
      <div id="user_info" class="block-body collapse in">
        <br />
        <%if controller.action_name == "new" or controller.action_name == "create"%>
          <div class="field" id='select_client_div'>
            <%= f.label t(:select_a_client) %>
            <%= f.collection_select(:client_id, Client.all, :id, :fullname, {:prompt => true}, :onchange =>'display_user_info(this.value)')%>    <%=(:or)%>
            <%= link_to t(:search_a_client), "#", :onclick => "search_client()", :id => "search_client_link", :class => 'btn btn-primary', :style => "margin-top:-10px" %>
          </div>  
          <div class="field" id='search_client_div' style='display:none;'>
            <%= f.label :search_a_client %>
            <%= f.autocomplete_field :client_id, autocomplete_client_first_name_orders_path, :update_elements => {:id => '.search_client_id'}, :focusout => 'getUserId()'%>    <%=(:or)%>
            <%= link_to t(:select_a_client), "#", :onclick => "select_client()", :id => "select_client_link", :class => 'btn btn-primary', :style => "margin-top:-10px" %>
          </div> 
          <%= link_to new_client_path,  :class=>"mini-btn-zoom btn", :style => "margin-top:-10px", :target => '_blank' do %>
            <i class="icon-upload"></i><span><%= " "+  t(:new_client) %></span>
          <% end %>
          <div>
            <%= f.label :require_bill, :style => "position: absolute"  %>
            <%= f.check_box :require_bill, :style => "margin-left: 130px" %>
          </div>
          <div class="field">
            <%= f.hidden_field :client_id, :class => "search_client_id", :onchange =>'display_user_info(this.value); getUserId()'%>
            <%= f.hidden_field :bill_id %>
          </div>
          <div class="client_div" id="client_info" style="display: none"> 
            <div id="details">
              <h4><%=t(:client_info)%></h4>
              <strong> <%=t(:client_id)%>: </strong> <label id="client_id"></label>
              <strong> <%=t(:fullname)%>: </strong> <label id="fullname"></label>
              <strong> <%=t(:phone1)%>: </strong> <label id="phone1"></label>
              <strong> <%=t(:phone2)%>: </strong> <label id="phone2"></label>
              <strong> <%=t(:email)%>: </strong> <label id="email"></label>
              <strong> <%=t(:address)%>: </strong> <label id="address"></label>
              <h4><%=t(:billing_address)%></h4>
              <strong> <%=t(:name_or_social_reason)%>: </strong> <label id="name"></label>
              <strong> <%=t(:rfc)%>: </strong> <label id="rfc"></label>
              <strong> <%=t(:phone1)%>: </strong> <label id="bill_phone1"></label>
              <strong> <%=t(:phone2)%>: </strong> <label id="bill_phone2"></label>
              <strong> <%=t(:email)%>: </strong> <label id="bill_email"></label>
              <strong> <%=t(:fax)%>: </strong> <label id="fax"></label>
              <strong> <%=t(:address)%>: </strong> <label id="bill_address"></label>
            </div>
          </div>
        <%else%>
          <p>
            <b> <%= t('.first_name') %>  </b>
            <%= @client.first_name %>
          </p>

          <p>
            <b>Last name:</b>
            <%= @client.last_name %>
          </p>

          <p>
            <b>Email:</b>
            <%= @client.email %>
          </p>

          <p>
            <b>Phone1:</b>
            <%= @client.phone1 %>
          </p>

          <p>
            <b>Phone2:</b>
            <%= @client.phone2 %>
          </p>

          <p>
            <b>Address1:</b>
            <%= @client.address1 %>
          </p>

          <p>
            <b>Address2:</b>
            <%= @client.address2 %>
          </p>

          <p>
            <b>City:</b>
            <%= @client.city %>
          </p>

          <p>
            <b>State:</b>
            <%= @client.state %>
          </p>

          <p>
            <b>Zip:</b>
            <%= @client.zip %>
          </p>

          <p>
            <b>Country:</b>
            <%= @client.country %>
          </p>

          <%if can? :edit, Client%>
            <%= link_to t(:edit_client_info),
              edit_client_path(@client), :class => 'btn btn-primary' %>
          <%end%>
          <h4><%t(:billing_info)%></h4>
          <p>
            <b>Name:</b>
            <%= @bill.name %>
          </p>

          <p>
            <b>Rfc:</b>
            <%= @bill.rfc %>
          </p>

          <p>
            <b>Email:</b>
            <%= @bill.email %>
          </p>

          <p>
            <b>Phone1:</b>
            <%= @bill.phone1 %>
          </p>

          <p>
            <b>Phone2:</b>
            <%= @bill.phone2 %>
          </p>

          <p>
            <b>Fax:</b>
            <%= @bill.fax %>
          </p>
          <p>
            <b>Address1:</b>
            <%= @bill.address1 %>
          </p>

          <p>
            <b>Address2:</b>
            <%= @bill.address2 %>
          </p>

          <p>
            <b>City:</b>
            <%= @bill.city %>
          </p>

          <p>
            <b>State:</b>
            <%= @bill.state %>
          </p>

          <p>
            <b>Zip:</b>
            <%= @bill.zip %>
          </p>

          <p>
            <b>Country:</b>
            <%= @bill.country %>
          </p>
          <%if can? :edit, Bill%>
            <%= link_to t(:edit_billing_info),
              edit_bill_path(@bill), :class => 'btn btn-primary'  %>
          <%end%>
          <p>  </p>
        <%end%>
      </div>
    </div>

    <div class="block span6">
      <a href="#product_info" class="block-heading" data-toggle="collapse"><%= t(:product_type)%></a>
      <div id="product_info" class="block-body collapse in">
        <br />
        <%@branches = current_user.role.super_admin == true ? Branch.all : Branch.where(:id => current_user.branch_id)%>
        <div class="field">
          <%= f.label :branch_id %>
          <%= f.collection_select(:branch_id, @branches, :id, :name, :prompt => false)%>
        </div>
        <div class="field">
          <%= f.label :workshop_id %>
          <%= f.collection_select(:workshop_id, Workshop.where(:branch_id => current_user.branch_id), :id, :name, {:prompt => true}) %>
        </div>
        <div class="field">
          <div class="field">
            <%= f.label :status_id %>
            <%= f.hidden_field :status_id, :value => 1%>
            <%if controller.action_name == "new" or controller.action_name == "create"%>
              <%= f.label "RECIVIDA" %>
            <%else%>
              <%= f.collection_select(:status_id, Status.where(:branch_id => current_user.branch_id).order("hierarchy ASC"), :id, :name, {:prompt => false}) %>
            <%end%>
          </div>
          <%if controller.action_name == "new"  or @product.blank?%>
            <div class="field">
              <%= f.label :select_product_type %>
              <%= f.select :product_type, options_for_select([ 
                  [t(:cellphone), "Cellphone"],
                  [t(:computer), "Computer"]         
                ]), {:prompt => true}, :id => "select-type"%>
            </div>
            <div class="partial_form" id="partial_form">
            </div>
          <%else%>
            <%= f.label :product_type %>
            <%= f.text_field :product_type, :readonly => true %>
            <div class="partial_form" id="partial_form">
              <%=eval("f.fields_for :#{@product}")%>
            </div>
          <%end%>

          <div class="field">
            <%= f.hidden_field :branch_id, :value => current_user.branch_id%>
          </div>

        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="block span6" >
        <a href="#condition_info" class="block-heading" data-toggle="collapse"><%= t(:condition)%></a>
        <div id="condition_info" class="block-body collapse in">
          <br />
          <div class="field">
            <%= f.text_area :condition %>
          </div>
          <br />
        </div>
      </div>   
      <div class="block span6" >
        <a href="#failure_info" class="block-heading" data-toggle="collapse"><%= t(:failure)%></a>
        <div id="failure_info" class="block-body collapse in">
          <br />
          <div class="field">
            <%= f.text_area :failure %>
          </div>
          <br />
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="block span6" >
        <a href="#comments_info" class="block-heading" data-toggle="collapse"><%= t(:wcomments)%></a>
        <div id="comments_info" class="block-body collapse in">
          <br />
          <div class="field">
            <%= f.text_area :comments %>
          </div>
          <br />
        </div>
      </div>   
      <div class="block span6">
        <a href="#accessories_info" class="block-heading" data-toggle="collapse"><%= t(:accessories)%></a>
        <div id="accessories_info" class="block-body collapse in">
          <br />
          <div class="field">
            <%= f.text_area :accessories %>
          </div>
          <br />
        </div>
      </div>   
    </div>

    <div class="row-fluid">
      <div class="block span6" >
        <a href="#parts_info" class="block-heading" data-toggle="collapse"><%= t(:parts)%></a>
        <div id="parts_info" class="block-body collapse in">
          <br />
          <div style="display: inline-block;">
            <%= autocomplete_field_tag "part-name", "", autocomplete_serial_number_orders_path, :update_elements => {:id => '.search_part_id'}, :placeholder => "Buscar parte...", :style => "width: 300px;" %>
            <%= f.link_to_add "Agregar parte", :order_serial_numbers, :data => { :target => "#parts-table" }, :class => "btn btn-primary", :style => "vertical-align: top;" %>
          </div>
          <div style="float: right;">
            <%= label_tag "Total", nil, :style => "font-weight: bold; display: inline-block;" %>
            <% total = "$0.00" %>
            <% if controller.action_name == "edit" || controller.action_name == "update" %>
              <% total = "$" + "%.2f" % @order.parts.sum(:cost) %>
            <% end %>
            <%= label_tag total, nil, :id => "parts-total", :style => "display: inline-block; min-width: 150px; text-align: right;" %>
          </div>
          <table id="parts-table" style="margin: 20px;" style="width: 500px;">
            <tr style="height: 50px; border-bottom: 1px solid #ccc;">
              <th style="width: 80px; border-right: 1px solid #ccc;">Número de serie</th>
              <th style="width: 550px; border-right: 1px solid #ccc;">Parte</th>
              <th style="width: 80px; border-right: 1px solid #ccc;">Costo</th>
              <th style="width: 100px;"></th>
            </tr>
            <%= f.fields_for :order_serial_numbers, :wrapper => false do |order_serial_number_form| %>
              <tr class="part-fields" style="height: 50px; border-bottom: 1px solid #ccc;">
                <td class="serial-number" style="width: 80px; border-right: 1px solid #ccc;"><%#= order_serial_number_form.object.serial_number.serial_number unless order_serial_number_form.object.serial_number.nil? %></td>
                <td class="part-name" style="width: 550px; border-right: 1px solid #ccc;"><%#= order_serial_number_form.object.serial_number.name unless order_serial_number_form.object.serial_number.nil? %></td>
                <td class="cost" style="width: 80px; border-right: 1px solid #ccc;"><%#= "$" + "%.2f" % order_serial_number_form.object.serial_number.part.cost unless order_serial_number_form.object.serial_number.nil? %></td>
                <td style="width: 100px; text-align: center;">
                  <%= order_serial_number_form.hidden_field :serial_number_id, :class => "hidden-serial-number-id" %>
                  <%= order_serial_number_form.link_to_remove "[ - ]", :class => "btn btn-danger" %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>   
      <div class="block span6">
        <a href="#client_needs_info" class="block-heading" data-toggle="collapse"><%= t(:wclient_needs)%></a>
        <div id="client_needs_info" class="block-body collapse in">
          <br />
          <div style="display: inline-block;">
            <%= autocomplete_field_tag "client-need-name", "", autocomplete_client_need_name_orders_path, :update_elements => {:id => '.search_client_need_id'}, :placeholder => "Buscar trabajo...", :style => "width: 300px;" %>
            <%= f.link_to_add "Agregar trabajo", :order_client_needs, :data => { :target => "#client-needs-table" }, :class => "btn btn-primary", :style => "vertical-align: top;" %>
          </div>
          <div style="float: right;">
            <%= label_tag "Total", nil, :style => "font-weight: bold; display: inline-block;" %>
            <% total = "$0.00" %>
            <% if controller.action_name == "edit" || controller.action_name == "update" %>
              <% total = "$" + "%.2f" % @order.client_needs.sum(:cost) %>
            <% end %>
            <%= label_tag total, nil, :id => "client-needs-total", :style => "display: inline-block; min-width: 150px; text-align: right;" %>
          </div>
          <table id="client-needs-table" style="margin: 20px;" style="width: 500px;">
            <tr style="height: 50px; border-bottom: 1px solid #ccc;">
              <th style="width: 80px; border-right: 1px solid #ccc;">ID</th>
              <th style="width: 550px; border-right: 1px solid #ccc;">Nombre</th>
              <th style="width: 80px; border-right: 1px solid #ccc;">Costo</th>
              <th style="width: 100px;"></th>
            </tr>
            <%= f.fields_for :order_client_needs, :wrapper => false do |order_client_need_form| %>
              <tr class="client-need-fields" style="height: 50px; border-bottom: 1px solid #ccc;">
                <td class="client-need-id" style="width: 80px; border-right: 1px solid #ccc;"><%= order_client_need_form.object.order.id unless order_client_need_form.object.order.nil? %></td>
                <td class="client-need-name" style="width: 550px; border-right: 1px solid #ccc;"><%= order_client_need_form.object.client_need.name unless order_client_need_form.object.client_need.nil? %></td>
                <td class="cost" style="width: 80px; border-right: 1px solid #ccc;"><%#= "$" + "%.2f" % order_client_need_form.object.cost unless order_client_need_form.object.cost.nil? %></td>
                <td style="width: 100px; text-align: center;">
                  <%= order_client_need_form.hidden_field :client_need_id, :class => "hidden-client-need-id" %>
                  <%= order_client_need_form.link_to_remove "[ - ]", :class => "btn btn-danger" %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>

      <%if controller.action_name == "edit" or controller.action_name == "update"%>
        <div class="row-fluid">
          <div class="block span6" id='show-box-100'>
            <a href="#parts_info" class="block-heading" data-toggle="collapse"><%= t(:current_progress)%></a>
            <div id="parts_info" class="block-body collapse in">
              <br />
              <div class="field">
                <%= f.label :short_description %>
                <%= f.text_field :short_description %>
              </div>
              <div class="field">
                <%= f.label :full_description %>
                <%= f.text_area :full_description %>
              </div>
            </div>
          </div>     
        </div>
      <%end%>

      <div class="form-actions">

        <%= f.submit nil, :class => 'btn btn-primary', :onclick => "setDeviceClientId();" %>
        <%if can? :index, Order%>
          <%= link_to t(:back, :default => t("helpers.links.back")),
            orders_path, :class => 'btn'  %>
        <%end%>
      </div>
    <% end %>
    <script type="text/javascript">
      $(function() {
        $("#new_client").click(function open_win() {
          myWindow = window.open($("http:").val(), $("#new_client_path").val(), 'height=500, width=600, left=100, top=100, screenX=100, screenY=100, toolbar=no, scrollbars=yes, location=no, resizable=yes, directories=no, copyhistory=no, menubar=no');
          myWindow.focus();
        });

        window.NestedFormEvents.prototype.insertFields = function(content, assoc, link) {
          var part_name, $content, $tr, before, client_need_name;

          $content = $(content);

          if ($content.hasClass("part-fields")) {
            part_name = $("#part-name").val();

            if (part_name.trim().length > 0) {
              var regex = /^\((\d+)\)/;
              var match = regex.exec(part_name);

              if ($("#parts-table .serial-number").filter(function() {
                return $(this).html() === match[1] && $(this).closest(".part-fields").css("display") != "none";
              }).length == 0) {
                if ($("#parts-table").find("tr:eq(1)").length == 1) {
                  $tr = $("#parts-table").find("tr:eq(1)");
                  before = true;
                }
                else {
                  $tr = $("#parts-table").find("tr:eq(0)");
                  before = false;
                }

                $("#part-name").val("");

                $.ajax({
                  url: "/serial_numbers/serial_number_with_part",
                  async: false,
                  data: {part_name: part_name},
                  dataType: "json",
                  success: function(serial_number) {
                    $content.find(".hidden-serial-number-id").val(serial_number.id);
                    $content.find(".serial-number").html(serial_number.serial_number);
                    $content.find(".part-name").html(serial_number.part_name);
                    var part_cost = serial_number.part_cost
                    $content.find(".cost").html("$" + part_cost.toFixed(2));
                    $("#parts-total").text("$" + (parseFloat($("#parts-total").text().replace("$", "")) + parseFloat(part_cost)).toFixed(2));
                    $content.find(".remove_nested_fields").on("click", function() {
                      $(this).prev().val(1);
                      $(this).closest(".part-fields").hide();
                      $("#parts-total").text("$" + (parseFloat($("#parts-total").text().replace("$", "")) - parseFloat($content.find(".cost").html().replace("$", ""))).toFixed(2));
                    });
                  }
                });

              }
            }
          }
          else if ($content.hasClass("client-need-fields")) {
            client_need_name = $("#client-need-name").val();

            if (client_need_name.trim().length > 0) {
              var regex = /^\((\d+)\)/;
              var match = regex.exec(client_need_name);

              if ($("#client-needs-table .client-need-name").filter(function() {
                return $(this).html() === match[1] && $(this).closest(".client-need-fields").css("display") != "none";
              }).length == 0) {
                if ($("#client-needs-table").find("tr:eq(1)").length == 1) {
                  $tr = $("#client-needs-table").find("tr:eq(1)");
                  before = true;
                }
                else {
                  $tr = $("#client-needs-table").find("tr:eq(0)");
                  before = false;
                }

                $("#client-need-name").val("");

                $.ajax({
                  url: "/client_needs/get_client_need_by_name",
                  async: false,
                  data: {client_need_name: client_need_name},
                  dataType: "json",
                  success: function(client_need) {
                    $content.find(".hidden-client-need-id").val(client_need.id);
                    $content.find(".client-need-id").html(client_need.id);
                    $content.find(".client-need-name").html(client_need.name);
                    var client_need_cost = client_need.cost
                    $content.find(".cost").html("$" + client_need_cost.toFixed(2));
                    $("#client-needs-total").text("$" + (parseFloat($("#client-needs-total").text().replace("$", "")) + parseFloat(client_need_cost)).toFixed(2));
                    $content.find(".remove_nested_fields").on("click", function() {
                      $(this).prev().val(1);
                      $(this).closest(".client-need-fields").hide();
                      $("#client-needs-total").text("$" + (parseFloat($("#client-needs-total").text().replace("$", "")) - parseFloat($content.find(".cost").html().replace("$", ""))).toFixed(2));
                    });
                  }
                });

              }
            }
          }

          if (before) {
            return $content.insertBefore($tr);
          }
          else {
            return $content.insertAfter($tr);
          }
        };
      });
    </script>