<div class="field">
  <%= f.label :name %>
  <%= f.autocomplete_field :name, autocomplete_part_name_orders_path%> <%= f.link_to_remove "[ - ]", :class => 'btn btn-danger', :style => "float:right" %>
<%#= f.autocomplete_field :name, autocomplete_part_name_orders_path, :update_elements => {:cost => '#order_parts_attributes_0_cost', :serial_number => '#order_parts_attributes_0_serial_number', :description => '#order_parts_attributes_0_description'}%> <%#= f.link_to_remove "[ - ]", :class => 'btn btn-danger', :style => "float:right" %>
</div>
<div class="field">
  <%= f.label :cost%>
  <%= f.number_field :cost%>
<%#= f.number_field :cost, :id => "order_parts_attributes_0_cost" %>
</div>
<div class="field">
  <%= f.label :serial_number%>
  <%= f.text_field :serial_number%>
<%#= f.text_field :serial_number, :id => "order_parts_attributes_0_serial_number"%>
</div>
<div class="field">
  <%= f.hidden_field :branch_id, :value => current_user.branch_id %>
</div>
<div class="field">
  <%= f.label :description %>
  <%= f.text_area :description%>
<%#= f.text_area :description, :style => "height: 100px;", :id => "order_parts_attributes_0_description" %>
</div>
<hr>