<script>
  $(document).ready(function() {
    $("#route_orders_routes_attributes_0_order_id").click(function() {
      $("#show-order-details").fadeIn("slow");
    });
  });

  var order_id;
  var div_id;
  function load_part_details(id) {
    div_id = divid;
    $.getJSON("/" + order_id + ".json", function(order) {
      $(".show-order-details").fadeIn("slow");
      $('label#label-details1').attr('id', "label1_" + div_id);
      $("#label1_" + div_id).html(order.description + ". Total Due: " + order.total_due + ". Priority: " + order.priority);
      client_id = order.client_id;
      $.getJSON("/" + order.client_id + ".json", function(client) {
        $(".show-order-details").fadeIn("slow");
        $('label#label-details2').attr('id', "label2_" + div_id);
        $("#label2_" + div_id).html("Client: " + client.first_name + " " + client.last_name + ". Seller: " + seller.first_name + " " + seller.last_name);
      })
    })
  }
</script>
<div class="field">
  <%= f.label :name %>
  <%= f.autocomplete_field :name, autocomplete_part_name_orders_path%> <%= f.link_to_remove "[ - ]", :class => 'btn btn-danger', :style => "float:right" %>
<%#= f.autocomplete_field :name, autocomplete_part_name_orders_path, :update_elements => {:cost => '#order_parts_attributes_0_cost', :serial_number => '#order_parts_attributes_0_serial_number', :description => '#order_parts_attributes_0_description'}%> <%#= f.link_to_remove "[ - ]", :class => 'btn btn-danger', :style => "float:right" %>
</div>
<div class="field">
  <%= f.label :cost%>
  <%= f.number_field :cost%>
<%#= f.number_field :cost, :id => "order_parts_attributes_0_cost" %>
</div>
<div class="field">
  <%= f.label :serial_number%>
  <%= f.text_field :serial_number%>
<%#= f.text_field :serial_number, :id => "order_parts_attributes_0_serial_number"%>
</div>
<div class="field">
  <%= f.hidden_field :branch_id, :value => current_user.branch_id %>
</div>
<div class="field">
  <%= f.label :description %>
  <%= f.text_area :description%>
<%#= f.text_area :description, :style => "height: 100px;", :id => "order_parts_attributes_0_description" %>
</div>
<hr>