<div class="btn-toolbar">
  <%if can? :new, Order and @is_user%>
    <%= link_to t(:new, :default => t("helpers.links.new")),
      new_order_path,
      :class => 'btn btn-primary', :title => t(:new) %>
  <%end%>
  <%if can? :index, Order and @is_user%>
    <%=  link_to t(:export_this_page_csv), orders_path(format: "csv"), :class=>"btn" %>
    <%=  link_to t(:export_this_page_xls), orders_path(format: "xls"), :class=>"btn"%>
    <%=  link_to t(:export_all_csv), orders_path(format: "csv", :all => true), :class=>"btn"%>
    <%=  link_to t(:export_all_xls), orders_path(format: "xls", :all => true), :class=>"btn"%>
  <%end%>
  <div class="btn-group">
  </div>
</div>

<%content_for :breadcrumb do%>
  <ul class="breadcrumb">
    <%if @is_user%>
      <li><%=link_to @current_user.branch.name, @current_user.branch%><span class="divider">/</span></li>
    <%end%>
    <li class="active"><%=t(:index)%></li>
  </ul>
<%end%>

<div class="well">
  <table class="table">
    <thead>
      <tr>
        <th><%=t'.id' %> </th>
        <th><%=t'.identifier' %> </th>
        <th><%=t'.client_id' %></th>
        <th><%=t'.product_type' %></th>
        <th><%=t'.workshop_id' %></th>
        <th><%=t'.status_id' %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <%if can? :show, Branch%>
            <td><%= link_to order.id, order, :class => 'btn btn-mini', :title => t(:show)%></td>
          <%else%>
            <td><%= order.id%></td>
          <%end%>
          <td><%= order.identifier%></td>
          <%if can? :show, Client%>
            <td><%= link_to order.client.fullname, order.client, :title => t(:show)%></td>
          <%else%>
            <td><%= order.client.fullname %></td>
          <%end%>
          <%if can? :show, Cellphone or can? :show, Computer%>
            <td><%= link_to  order.product_type, @product%></td>
          <%else%>
            <td><%=  order.product_type%></td>
          <%end%>
          <%if can? :show, Workshop%>
            <td><%= link_to  order.workshop.name, order.workshop%></td>
          <%else%>
            <td><%= order.workshop.name %></td>
          <%end%>
          <td><%= order.status.name %></td>
          <td>         
            <ul class="nav nav-pills">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" title='<%=t(:actions)%>'><i class="icon-cog"></i>&nbsp;<i class="icon-caret-down"></i></a>
                <ul class="dropdown-menu">
                  <%if can? :show, Order%>
                    <li>
                      <%= link_to order do %>
                        <i class="icon-eye-open"></i>&nbsp;&nbsp;<%=t(:show, :default => t("helpers.links.show"))%>
                      <%end%>
                    </li>
                  <%end%>
                  <%if can? :edit, Order%>
                    <li>
                      <%= link_to edit_order_path(order) do %>
                        <i class="icon-pencil"></i>&nbsp;&nbsp;<%=t(:edit, :default => t("helpers.links.edit"))%>
                      <%end%>
                    </li>
                  <%end%>
                  <%if can? :destroy, Order%>
                    <li>
                      <%= link_to  order, :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } do %>
                        <i class="icon-trash"></i>&nbsp;&nbsp;<%=t(:destroy, :default => t("helpers.links.destroy"))%>
                      <%end%>
                    </li>
                  <%end%>
                </ul>
              </li>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br />


<div class="page_info">
  <%= page_entries_info @orders %>
  <%= will_paginate @orders, :renderer => BootstrapPagination::Rails %>
</div>
