<%= form_for(@serial_number) do |f| %>
  <% if @serial_number.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@serial_number.errors.count, "error") %> prohibited this serial_number from being saved:</h2>

      <ul>
        <% @serial_number.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% @parts = current_user.role.super_admin == true ? Part.all : Part.where(:branch_id => current_user.branch_id) %>
  <div class="control-group">
    <%= f.label :part_id, :class => 'control-label' %>
        <div class="controls">
    <%= f.collection_select(:part_id, Part.all, :id, :name, :prompt => true)%>
        </div>
  </div>

  <div class="control-group">
    <%= f.label :serial_number, :class => 'control-label' %>
        <div class="controls">
    <%= f.text_field :serial_number, :class => 'text_field' %>
        </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%if can? :index, SerialNumber%>
      <%= link_to t(:back, :default => t("helpers.links.back")),
        serial_numbers_path, :class => 'btn'  %>
    <%end%>
  </div>
<% end %>