<div class="btn-toolbar">
  <%if can? :new, ClientNeed%>
    <%= link_to t(:new, :default => t("helpers.links.new")),
      new_client_need_path,
      :class => 'btn btn-primary', :title => t(:new) %>
  <%end%>
  <%=  link_to t(:export_this_page_csv), client_needs_path(format: "csv"), :class=>"btn" %>
  <%=  link_to t(:export_this_page_xls), client_needs_path(format: "xls"), :class=>"btn"%>
  <%=  link_to t(:export_all_csv), client_needs_path(format: "csv", :all => true), :class=>"btn"%>
  <%=  link_to t(:export_all_xls), client_needs_path(format: "xls", :all => true), :class=>"btn"%>
  <div class="btn-group">
  </div>
</div>

<%content_for :breadcrumb do%>
  <ul class="breadcrumb">
    <li><%=link_to @current_user.branch.name, @current_user.branch%><span class="divider">/</span></li>
    <li class="active"><%=t(:index)%></li>
  </ul>
<%end%>

<div class="well">
  <table class="table">
    <thead>
      <tr>
        <th> <%=t'.id' %></th>
        <th> <%=t'.name' %></th>
        <th><%=t'.description' %></th>
        <th><%=t'.cost' %></th>
        <th><%=t'.branch_id' %></th>

      </tr>

      <% @client_needs.each do |client_need| %>
        <tr>
          <%if can? :show, ClientNeed%>
            <td><%=link_to client_need.id, client_need, :class => 'btn btn-mini', :title => t(:show)%></td>
          <%else%>
            <td><%= label client_need.id, :class => 'btn btn-mini', :title => t(:show)%></td>
          <%end%>
          <td><%= client_need.name %></td>
          <td><%= client_need.description %></td>
          <td><%= client_need.cost %></td>
          <td><%= client_need.branch.name %></td>
          <td>         
            <ul class="nav nav-pills">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" title='<%=t(:actions)%>'><i class="icon-cog"></i>&nbsp;<i class="icon-caret-down"></i></a>
                <ul class="dropdown-menu">
                  <%if can? :show, ClientNeed%>
                    <li>
                      <%= link_to client_need do %>
                        <i class="icon-eye-open"></i>&nbsp;&nbsp;<%=t(:show, :default => t("helpers.links.show"))%>
                      <%end%>
                    </li>
                  <%end%>
                  <%if can? :edit, ClientNeed%>
                    <li>
                      <%= link_to edit_client_need_path(client_need) do %>
                        <i class="icon-pencil"></i>&nbsp;&nbsp;<%=t(:edit, :default => t("helpers.links.edit"))%>
                      <%end%>
                    </li>
                  <%end%>
                  <%if can? :destroy, ClientNeed%>
                    <li>
                      <%= link_to  client_need, :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } do %>
                        <i class="icon-trash"></i>&nbsp;&nbsp;<%=t(:destroy, :default => t("helpers.links.destroy"))%>
                      <%end%>
                    </li>
                  <%end%>
                </ul>
              </li>
            </ul>
          </td>
        </tr>
      <% end %>
      </tbody>
  </table>
</div>
<br />


<div class="page_info">
  <%= page_entries_info @client_needs %>
  <%= will_paginate @client_needs, :renderer => BootstrapPagination::Rails %>
</div>
