<%content_for :breadcrumb do%>
  <ul class="breadcrumb">
    <%if can? :show, ClientNeed%>
      <li><%=link_to @current_user.branch.name, @current_user.branch%><span class="divider">/</span></li>
    <%end%>
    <%if can? :index, ClientNeed%>
      <li><%=link_to t(:index), client_needs_path%><span class="divider">/</span></li>
    <%end%>
    <li class="active"><%= @client_need.name%></li>
  </ul>
<%end%>

<div class="row-fluid">
  <div class="block span6">
    <a href="#details" class="block-heading" data-toggle="collapse"><%= t(:general_info) %></a>
    <div id="details" class="block-body collapse in">
      <p>
        <b><%=t'.name' %>:</b>
        <%= @client_need.name %>
      </p>
      <p>
        <b><%=t'.cost' %>:</b>
        <%= @client_need.cost %>
      </p>
      <p>
        <b><%=t'.branch_id' %>:</b>
        <%= @client_need.branch.name %>
      </p>
    </div>
  </div>
  <div class="block span6">
    <a href="#box-info-backgroud" class="block-heading" data-toggle="collapse"><%= t(:description) %></a>
    <div id="box-info-backgroud" class="block-body collapse in">
      <br />
      <p>      
        <%= @client_need.description %>
      </p>
    </div>
  </div>
</div>



<div class="form-actions">
  <%if can? :index, ClientNeed%>
    <%= link_to t(:back, :default => t("helpers.links.back")),
      client_needs_path, :class => 'btn'  %>
  <%end%>
  
  <%if can? :edit, ClientNeed%>
    <%= link_to t(:edit, :default => t("helpers.links.edit")),
      edit_client_need_path(@client_need), :class => 'btn' %>
  <%end%>
  <%if can? :destroy, ClientNeed%>
    <%= link_to t(:destroy, :default => t("helpers.links.destroy")),
      client_need_path(@client_need),
      :method => 'delete',
      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
      :class => 'btn btn-danger' %>
  <%end%>
  <%if can? :new, ClientNeed%>
    <%= link_to t(:new, :default => t("helpers.links.new")),
      new_client_need_path,
      :class => 'btn btn-primary', :title => t(:new) %>
  <%end%>
</div>

