<%= form_for(@role) do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
        <% @role.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <%@branches = current_user.role.super_admin == true ? Branch.all : Branch.where(:id => current_user.branch_id)%>
  <div class="field">
    <%= f.label :branch %><br />
    <%= f.collection_select(:branch_id, @branches, :id, :name, :prompt => false)%>
  </div>
  <div class="field">
    <%= f.label :protected %><br />
    <%= f.check_box :protected %>
  </div>
  <div class="field">
    <%= f.label :super_admin %><br />
    <%= f.check_box :super_admin %>
  </div>
  <div class="field">
    <%= f.label :branch_admin %><br />
    <%= f.check_box :branch_admin %>
  </div>
  <div class="field">
    <%= f.label :orders_admin %><br />
    <%= f.check_box :orders_admin %>
  </div>
  <div class="field">
    <%= f.label :secretary %><br />
    <%= f.check_box :secretary %>
  </div>
  <div class="field">
    <%= f.label :client %><br />
    <%= f.check_box :client %>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%if can? :index, Role%>
      <%= link_to t(:back, :default => t("helpers.links.back")),
        roles_path, :class => 'btn'  %>
    <%end%>
  </div>
<% end %>
