<%content_for :breadcrumb do%>
  <ul class="breadcrumb">
    <%if can? :show, Role and signed_in?%>
      <li><%=link_to @current_user.branch.name, @current_user.branch%><span class="divider">/</span></li>
    <%end%>
    <%if can? :index, Role%>
      <li><%=link_to t(:index), roles_path%><span class="divider">/</span></li>
    <%end%>
    <li class="active"><%=@role.name%></li>
  </ul>
<%end%>

<div class="row-fluid">
  <%if current_user.role.super_admin == true%>
    <div class="block span6">
      <a href="#details" class="block-heading" data-toggle="collapse"><%= @role.name %><span class="label label-notice"><%= t(:id) + ": " + @role.id.to_s%></span></a>
      <div id="details" class="block-body collapse in">
        <p>
          <b><%=t'.branch_id'%>:</b>
          <%= @role.branch.name %>
        </p>

        <p>
          <b><%=t'.protected'%>:</b>
          <%= @role.protected %>
        </p>

        <p>
          <b><%=t'.super_admin'%>:</b>
          <%= @role.super_admin %>
        </p>

        <p>
          <b><%=t'.branch_admin'%>:</b>
          <%= @role.branch_admin %>
        </p>
        <p>
          <b><%=t'.orders_admin'%>:</b>
          <%= @role.orders_admin %>
        </p>

        <p>
          <b><%=t'.secretary'%>:</b>
          <%= @role.secretary %>
        </p>
        <p>
          <b><%=t'.client'%>:</b>
          <%= @role.client %>
        </p>
      </div>
    </div>
  <%end%>
  <div class="block span6">
    <a href="#description" class="block-heading" data-toggle="collapse"><%= @role.name %><span class="label label-notice"><%= t(:id) + ": " + @role.id.to_s%></span></a>
    <div id="description" class="block-body collapse in">
      <br />
      <p>
        <b><%=t'.description'%>:</b>
        <%= @role.description %>
      </p>
    </div>
  </div>
</div>




<div class="form-actions">
  <%if can? :index, Role%>
    <%= link_to t(:back, :default => t("helpers.links.back")),
      roles_path, :class => 'btn'  %>
  <%end%>
  <%if can? :edit, Role%>
    <%= link_to t(:edit, :default => t("helpers.links.edit")),
      edit_role_path(@role), :class => 'btn' %>
  <%end%>
  <%if can? :destroy, Role%>
    <%= link_to t(:destroy, :default => t("helpers.links.destroy")),
      role_path(@role),
      :method => 'delete',
      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
      :class => 'btn btn-danger' %>
  <%end%>
  <%if can? :new, Role%>
    <%= link_to t(:new, :default => t("helpers.links.new")),
      new_role_path,
      :class => 'btn btn-primary', :title => t(:new) %>
  <%end%>
</div>

